.collection__container{
    padding: 130px;
    background-color: #141416;;
}

.collection__h{
    padding-left: 110px;
    margin: 30px;
    font-size: 35px;
    font-family: $second-font;
}

.collection__card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 60px;
    & .card{ 
        margin: 70px;
        height: 650px;
        width: 350px;
        border-radius: 8px;
        border: 1px solid #2e3339; ;
        background-color: $main-color;
        font-family: $main-font;
        & .img__card1{
            height: 250px;
            width: 100%;
            border-radius: 8px;
        }
        & .h2__card{
            padding: 20px;
            font-size: 25px;
            text-align: start;
        }
        & .p__card{
            text-align: start;
            padding: 15px;
            font-size: 15px;
        }
        & .span__card{
            padding-left: 15px;
            text-align: start;
            font-size: 15px;
        }
        & .bid{
            display: flex;
            flex-direction: row;
            margin: 10px;
            padding-left: 2px;
            & i {
                padding: 5px;
                color: #f82d97;
                font-size: 15px;
            }
        }
        & .btn__card{
            margin: 15px;
            width: 120px;
            height: 40px;
            border-radius: 9px;
            border: none;
            background-color: #E5E8EB;
            & img{
                height: 22px;
                margin: 3px;
            }
            & a{
                text-decoration: none;
                color: #141416;
                
            }
        }
        & .btn__card:hover{
            background-color: #d6d9db;
            border: 1px solid #d6d9db;
        }
        &:hover{
            background-color: #2e3339;
        }
    }
}