/* Presentacion */

.pst__container{
    padding: 55px;
    display: flex;
    flex-direction: row;
}

.pst__prf{
    padding: 25px;
    margin: 0 auto;
    font-family: $second-font;
    text-align: start;
    width: 50%;
    & .pst__p{
        padding: 15px;
        font-size: 28px;
    }
    & .pst__h1{
        text-align: start;
        margin: 0 auto;
        font-size: 150px;
        letter-spacing: normal;
    }
}

.pst__img img {
    width: 75%;
    height: 100%;
}